/* CDN */
 
/* Bootstrap */
@import './bootstrap.min.css';


/* Global Css */
.breadcrumb{
    background-color: rgba(145, 154, 161, .65);
    color: white;
    margin-top: 1.5%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .85);
}


/* Pages */
@import './pages/home.css';
@import './pages/login.css';
@import './pages/register.css';
@import './pages/profile.css';
@import './pages/UserList.css';
@import './pages/UserDetail.css';
@import './pages/about.css';
@import './pages/realtorDetail.css';
@import './pages/listings.css';
@import './pages/listingsDetails.css';

/* Components */
@import './components/header.css';
@import './components/footer.css';
@import './components/StaffNavBar.css';
@import './components/HomeSearch.css';
@import './components/HomeListings.css';
@import './components/HomeRealtors.css';
@import './components/listingSearch.css';
@import './components/singleListings.css';

/* Modals */
@import './modals/EditProfileModal.css';
@import './modals/AdminAddNewUserModal.css';

/* Media Quires */
@import './media/HeaderMedia.css';

/* Misc */