.Home-page{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-page-top{
  width: 100%;
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.home-page-middle{
  width: 100%;
  min-height: 800px;
  border-top: 1.5vh solid ;
}
.home-page-bottom{
  width: 100%;
  min-height: 800px;
  border-top: 1.5vh solid;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: .95;
}