.listings-details-title{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.details-title-wrapper{
    width: 100%;
    min-height: 200px;
    background-color: rgba(240, 173, 78, .25);
    display: flex;
    justify-content: center;
    align-items: center;
}
.details-title-wrapper h1{
    color: white;
    font-size: 3.0rem;
    text-shadow: 2px 2px 4px rgba(145, 154, 161, .85);
}
.listings-detail-top{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 8fr 4fr;
    grid-gap: 1.5%;
    padding: 1%;
}
/* Light Box */
.light-box{
    display: grid;
    grid-template-rows: 8fr 3fr;
    min-height: 400px;
}
.carousel-arrow{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.carousel-image{
    width: 100%;
    max-height: 100px;
    margin: 0 3%;
}
.rec{
    width: 100%;
    margin-top: .5%;
}
.listings-span-break{
    height: 150px;
    background-color: rgba(145, 154, 161, .85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listings-span-break h1{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .85);
    padding: .5%;
}
.detail-info-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    margin-top: 5%;
}
.detail-info-item{
    display: grid;
    grid-template-columns: 1fr 8fr;
    font-size: 2.5rem;
    color: #4bbf73;
}
.detail-info-item h4{
    margin-top: 0;
    font-size: 2.0rem;
    color:white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
}
.detail-info-desc{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detail-info-desc p{
    width: 100%;
    margin-top: 5%;
    font-size: 1.05rem;
    letter-spacing: 2px;
    line-height: 1.75;
    text-align: justify;
    color: #4bbf73;
    text-shadow: 1px 1px 2px rgba(145, 154, 161, .85);
}