.staff-nav-btn-wrapper{
  background-color: #343a40;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}
.staff-nav-btn{
  width: 100%;
  font-size: 1.25rem;
  margin-bottom: 7%;
  transition: .5s ease-in-out;
}
.staff-nav-btn:hover{
  color: gold;
}